<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bem vindo aos seus livros</h1>
    <h2>Deseja cadastrar novos livros?</h2>
    <form action="{{ url_for('livro')}}" method="POST">
        <input type="text" name="nome" placeholder="Nome">
        <input type="text" name="editora" placeholder="Editora">
        <button>Enviar</button>
    </form>
     <br><br>
    <h2>Lista de livros</h2>
    <ul>
        {% for livro in livros %}
        <li>Nome: {{livro['name']}} <br> Editora: {{livro['editora']}} </li> <br>
        {% endfor %}
    </ul>
</body>
</html>