<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login de usuário</h1>
    {{user}}
    <a href="{{url_for('register')}}"><button>Registre-se</button></a> </br>
    <form action="{{url_for('login')}}" method="post">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="senha" placeholder="Senha">
        <button>Enviar</button>
    </form>

</body>
</html>